
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #b9e2ff;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-links a:hover {
    color: #007bff;
    bacground:#b9e2ff
}


.apresentacao {
    padding: 120px 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.projetos {
    padding: 60px 30px;
}

.grid-projetos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.projeto-card {
    background: #b9e2ff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform .2s;
}

.projeto-card:hover {
    transform: scale(1.03);
}

.projeto-card img {
    width: 100%;
    border-radius: 8px;
}

.projeto-card a {
    color: #007bff;
    text-decoration: none;
}


.skills {
    padding: 60px 30px;
}

.grid-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.skill-card {
    background: #b9e2ff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.sobre {
    padding: 60px 30px;
    background: #b9e2ff;
}


.contato {
    padding: 60px 30px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 2rem;
}

.social-links a {
    color: #333;
}

.social-links a:hover {
    color: #007bff;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: #fff;
}



/* Tablet */
@media (min-width: 768px) {
    .grid-projetos {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .apresentacao {
        flex-direction: row;
        text-align: left;
        justify-content: center;
        gap: 40px;
    }

    .grid-projetos {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-skills {
        grid-template-columns: repeat(6, 1fr);
    }
}
